NEXT_PUBLIC_TEST_MONGODB_URI=""
NEXT_PUBLIC_TEST_RPC_URL=""
NEXT_PUBLIC_CHAIN_NAME=""
NEXT_PUBLIC_NETWORK_NAME=""
NEXT_PUBLIC_NETWORK_ID=""
NEXT_PUBLIC_BASE_URL=""
NEXT_PUBLIC_LOAN_POSITION_MANAGER_ADDRESS=""
NEXT_PUBLIC_LOAN_POSITION_NFT_ADDRESS=""
NEXT_PUBLIC_TEST_ORACLE_CONTRACT_ADDRESS=""
NEXT_PUBLIC_TREASURY_ADDRESS=""
NEXT_PUBLIC_TOKEN_A_ADDRESS=""
NEXT_PUBLIC_TOKEN_B_ADDRESS=""