@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
/*  Design Colors */
  --black-1:rgba(34, 34, 34, 1);
  --purple-1:rgba(185, 47, 255, 1);
  --purple-3:rgba(230, 207, 242, 1);
  --white-1:rgba(255, 255, 255, 1);
  --white-2:rgba(247, 249, 250, 1);
  --white-3:rgba(250, 250, 250, 1);
  --red-1:rgba(226, 52, 52, 1);
  /**/

}



body {
  color: rgb(var(--foreground-rgb));
  background:
    rgb(var(--background-start-rgb));
}


.buttonPurple{
  border-radius: 8px;
  background:  #B92FFF;
  text-align: center;
  color: white;
  width: 88px;
  height: 32px;
  gap: 10px;
}



