

.connectionButton ul{
gap: 1rem;
}
.connectionButton ul li{
    padding: 8px;
    border-radius: 14px; 
    background-color: rgb(247, 247, 247);
}
.connectionButton li:hover{
 background-color: rgb(40, 38, 38);
 color: white;
 transition: 0.33s;
}
.connectionLink a{
    display: block;
    text-align: center;
    width:max-content;
    background-color: rgb(0, 0, 0);
    padding: 8px;
    margin-top: 1rem;
    color: white;
    border-radius: 14px; 
}

